<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/profile.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="images/logo1.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Bank Customer Profile</title>
</head>
<body>
  <div class="header">
    <div class="bankLogo">
      <div class="bank">
        <a href="/"><img src="images/logo1.jpeg" alt="logo"></a>
      <h1>VASU BANK</h1>
      </div>
      <% if(userInfo===1){ %>
        <div class="back">
          <a href="/customers" class="btn">Back</a>
        </div>
        <% } %>
    </div>
  </div>
  <% if(bal===3){ %>
    <h3 class="bankBal" style="margin-top:20px; color: red;">Bank Balance is less</h3>
  <% }%>
  <div class="main">
    <div class="profile-image">
      <h3><a href="/profile" style="text-decoration: none;">Profile Pic</a></h3>
      
      <% if (customer[0].bank_cust_photo && customer[0].bank_cust_photo.length > 0) { %>
        <a href="/profile">
          <img src="<%= '/images/profilePics/' + customer[0].bank_cust_photo %>" alt="Profile Image">
        </a>
        </a>
      <% } else { %>
        <a href="/profile">
          <img src="images/profilePics/ProfileLogo.png" alt="Default Profile Image">
        </a>
      <% } %>
    </div>
    <div class="section2">
      <div class="personal">
        <h2>Personal Details</h2>
          <div class="p1">
            <p>First Name : </p>
            <p><%-customer[0].bank_cust_fname %></p>
          </div>
          <div class="p1">
            <p>Last Name : </p>
            <p><%- customer[0].bank_cust_lname %></p>
          </div>
          <div class="p1">
            <p>Phone Number : </p>
            <p><%- customer[0].bank_cust_phone %></p>
          </div>
          <div class="p1">
            <p>Email Id : </p>
            <p><%- customer[0].bank_cust_emailid %></p>
          </div>
          <div class="p1">
            <p>Address : </p>
            <p><%- customer[0].bank_cust_address %></p>
          </div>
      </div>
      <div class="main2">
        <h2>Account details : </h2>
        <div class="p1">
          <p>Account Id : </p>
          <p><%- customer[0].bank_cust_account_id %></p>
        </div>
        <div class="p1">
          <p>Aadhar Number :</p>
          <p><%- customer[0].bank_cust_aadhar %></p>
        </div>
        <div class="p1">
          <p>Balance : </p>
          <p><%- Number(customer[0].bank_cust_balance) %></p>
        </div>

      <% if(userInfo==0){ %>
        <div class="p2">
          <a href="/transaction?id=<%- customer[0].bank_cust_account_id %>" class="btn" style="width: 150px;">Send Money</a>
          <a href="/epassbook?id=<%- customer[0].bank_cust_account_id %>" class="btn" style="width: 150px; margin-top: 10px;">e-passbook</a>
        </div>
      <% } %>

      <% if(userInfo==1){ %>
        <div class="p2">
            <form action="/creditMoney" method="post" id="credit">
              Credit
              <input type="hidden" name="id" value="<%- customer[0].bank_cust_account_id %>">
              <input type="text" name="money" id="" placeholder="Enter credit amount" autocomplete="off">
            </form>
            <form action="/debitMoney" method="post" id="debit">
              Debit
              <input type="hidden" name="id" value="<%- customer[0].bank_cust_account_id %>">
              <input type="text" name="money" id="" placeholder="Enter debit amount">
            </form>
        </div>
        <div class="p3">
          <a href="/updateCustomers?id=<%- customer[0].bank_cust_account_id %>" class="update">Update Customer <i class="fa-solid fa-pen-to-square"></i></a>
        </div>
      <% } %>
      </div>
    </div>
  </div>
  <script>
    function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        const themeValue = getCookie('theme');

        if (themeValue === 'dark') {
            // Apply dark theme styles
            document.body.style.backgroundColor = '#333';
            document.body.style.color = '#fff';
        } else {
            // Apply light theme styles
            document.body.style.backgroundColor = '#f0f0f0';
            document.body.style.color = '#333';
        }
  </script>
</body>
</html>
